In [2]:
# Import gmaps in its own cell to avoid issues.
import gmaps

In [3]:
# module 6.5.2 Import the dependencies.
import pandas as pd
import requests

# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Karpogory,64.0019,44.4451,34.29,99,100,5.28,RU,2022-04-19 23:53:17
1,1,Castro,-24.7911,-50.0119,57.51,86,2,2.82,BR,2022-04-19 23:43:22
2,2,Bubaque,11.2833,-15.8333,75.85,77,41,14.88,GW,2022-04-19 23:53:19
3,3,Longview,32.5007,-94.7405,71.85,41,85,3.00,US,2022-04-19 23:53:20
4,4,Taoudenni,22.6783,-3.9836,81.70,10,86,3.65,ML,2022-04-19 23:53:20

In [5]:
# module 6.5.2 Get the datatypes.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# module 6.5.2 Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
%matplotlib inline
#

In [9]:
# Map was not showing up at end of code block.  
# ATTEMPT 1: to try adding extensions to show map but these did not work.
#jupyter nbextension enable --py gmaps
#jupyter nbextension enable --py widgetsnbextension

In [10]:
# ATTEMPT 2: to try adding extensions to show map.  These eventually worked, but stil no map.
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [13]:
# Heatmap of temperature
# module 6.5.2 HINT: KEEP READING!!
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# an array of length equal to the locations array length
# max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights = temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

#gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Bubaque,11.2833,-15.8333,75.85,77,41,14.88,GW,2022-04-19 23:53:19
4,4,Taoudenni,22.6783,-3.9836,81.70,10,86,3.65,ML,2022-04-19 23:53:20
7,7,Takoradi,4.8845,-1.7554,79.95,85,100,5.73,GH,2022-04-19 23:46:46
15,15,Hilo,19.7297,-155.0900,83.28,67,40,8.05,US,2022-04-19 23:43:34
26,26,Ahmadpur,18.7000,76.9333,85.86,19,55,5.61,IN,2022-04-19 23:53:34
30,30,Isangel,-19.5500,169.2667,83.59,70,8,8.37,VU,2022-04-19 23:52:47
37,37,Rikitea,-23.1203,-134.9692,77.83,75,39,17.02,PF,2022-04-19 23:53:40
45,45,Bengkulu,-3.8004,102.2655,76.23,89,100,5.79,ID,2022-04-19 23:54:44
47,47,Kutum,14.2000,24.6667,79.16,13,72,14.94,SD,2022-04-19 23:54:45
48,48,Makakilo City,21.3469,-158.0858,79.12,66,100,23.02,US,2022-04-19 23:42:56

In [22]:
# Determine if there are any NULL values.
preferred_cities_df.count()

City_ID       159
City          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
Country       158
Date          159
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2         Bubaque      GW     75.85  11.2833  -15.8333
4       Taoudenni      ML     81.70  22.6783   -3.9836
7        Takoradi      GH     79.95   4.8845   -1.7554
15           Hilo      US     83.28  19.7297 -155.0900
26       Ahmadpur      IN     85.86  18.7000   76.9333
30        Isangel      VU     83.59 -19.5500  169.2667
37        Rikitea      PF     77.83 -23.1203 -134.9692
45       Bengkulu      ID     76.23  -3.8004  102.2655
47          Kutum      SD     79.16  14.2000   24.6667
48  Makakilo City      US     79.12  21.3469 -158.0858

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")
hotel_df.head(10)

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bubaque,GW,75.85,11.2833,-15.8333,"Casa Dora, Bubaque"
4,Taoudenni,ML,81.70,22.6783,-3.9836,
7,Takoradi,GH,79.95,4.8845,-1.7554,Raybow International Hotel
15,Hilo,US,83.28,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Ahmadpur,IN,85.86,18.7000,76.9333,Hengane (Pitashri Niwas)
30,Isangel,VU,83.59,-19.5500,169.2667,Tanna Lodge
37,Rikitea,PF,77.83,-23.1203,-134.9692,People ThankYou
45,Bengkulu,ID,76.23,-3.8004,102.2655,Grage Hotel Bengkulu
47,Kutum,SD,79.16,14.2000,24.6667,Dibbo areaمنطقة دبو
48,Makakilo City,US,79.12,21.3469,-158.0858,Marriott's Ko Olina Beach Club

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))